// 添加背景图片
body {
      background: url(/images/bkg.jpeg);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

.container {
  opacity: 0.8;
}

// 修改主体透明度
.main-inner {
      background: #fff;
      opacity: 0.95;
}

.back-to-top {
      background: #fff;
      opacity: 0.9;
      color: #000;
}

.content-wrap {
  min-height: 800px;
}
